body {
    font-family:'Times New Roman', Times, serif;
    margin: 20;
    background-color: rgb(235, 235, 229);
    color: #333333;
}

header {
    background-color: #6A9C89;
    color: white;
    padding: 10px 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

footer {
    background-color: #6A9C89;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;      
}

.ingredients {
    margin-top: 20px;
}

.steps {
    margin-bottom: 20px;
}

h1 {
    font-family: "Macondo";
}

header a {
    text-decoration: none;
    color: aliceblue;
    padding: 12px;
    display: flex;
    align-items: center;
    font-size: 2vh;
}

header a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-around;
}

header div {
    display: flex;
}

form {
    width: 33%;
    text-align: center;
    margin: 48px;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    form {
        width: 80%;
    }
    
}